# You don't have to change this one
NEXT_PUBLIC_PENDING_IMPORTED_CONFIG_KEY=pendingImportedConfigKey

# YOU HAVE TO CONFIGURE THESE ONES USING YOUR OWN SUPABASE KEYS
NEXT_PUBLIC_SUPABASE_URL=YOUR_LOCAL_SUPABASE_CONTAINER_URL
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

# Optional: set to true for public demos to hide destructive actions (e.g. removing a campaign)
NEXT_PUBLIC_DEMO_MODE=false